*{
  font-family: Avenir, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  box-sizing: border-box;
  
}

body{
  background: #ededed;
}

p{
  font-size: 1em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

header, footer{
  width: 100%;
  padding: 20px 0px;
  background: url("resume-cover.jpg") #4f4f4f
  back-shadow: 0px 0px 15px #333;
}

header{
  border-bottom: 2px solid #fff;
  height: 120px;
}
header h1{
  color: white;
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
}

footer {
  border-top: 2px solid #fff;
  background-image: url("resume-cover.jpg");
}

footer p{
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
footer a{
  color: #fff;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom:20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #bbb;
  background-color: #fff;
}

section h2{
  margin: 20px 0;
  width: 90%;
}

section > div{
  width: 90%;
}

.photo{
  text-align: right;
}
.photo img{
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 10px #777;
  border-radius: 50%;
  margin-top: -80px;
}

.prez{
  border-bottom: 2px dashed #ccc;
}

.prez a{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto 30px auto;
  color: #fff;
  background-color: #EA0;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
}


.contact-flex{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.contact-flex p  first-child{
  flex: 0 0 40%;
}
.contact-flex p last-child{
  flex: 0 0 60%;
}

.exp{
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.exp-info{
  display: flex;
  flex-flow: column wrap;
}

.exp-logo{
  flex: 0 0 25%;
  max-width: 100px;
}

.exp img{
  width: 100%
}
.exp h3{
  font-size: 1.2em;
}

.exp h4{
  font-size: 1em;
  font-weight: normal;
}

.comp{
  display: flex;
  flex-flow: row wrap;
}

.comp p{
  flex: 0 0 40%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}