@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoFlex-Regular.ttf");
}
@font-face {
    font-family: "Electrolize";
    src: url("assets/fonts/Electrolize-Regular.ttf") format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #573434;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
  
.name {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header {
    margin-top: 1440px;
    text-align: center;
    font-family: Electrolize, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-left: 150px;
    box-shadow: 0px 0px 10px #343a40;
    padding: 1px;
    border-radius: 50%;
}

.nav{
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-align: right;
    padding: 20px;
    line-height: 50px;
    transition: 0.3s;
}

.main {
    display: flex;
    justify-content: column;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1440px;
    margin: auto;   
}

.section {
    margin-top: 20px;
    padding: 20px;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;

}

.section h2 {
    margin-top: 0;
}

.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}

.section-item a:hover {
  color: #4d2323;
}

.contacts, .summary, .skills, .code, 
.courses, .projects, .education, .english{
    width: 50%;
    background-color: #627f9c;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.footer {
    background-color: #a3b0bd;
    color: white;
    text-align: center;
    padding: 10px;
}

.github-logo {
    width: 50px; 
    height: auto; 
    margin-top: 10px;
}